.ca-container {
  position: relative;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .ca-container {
    height: 50vh;
  }
}

@media (max-width: 520px) {
  .ca-container {
    width: 100%;
    height: 30vh;
  }
}

@media (min-width: 521px) and (max-width: 768px) {
  .ca-container {
    height: 30vh;
  }
}
